*.json
*.fir
*.v
*.bsp
*.idea
*.metals
*.bloop
*/project/
*/target/
*/test_run_dir/
*.vcd
project/
target/
obj_dir/
cpu-test/cpuTestbench
!cpu-test/cpuTestbench.v
!src/main/resources/*v
!src/main/resources/zynq/*v
*.f
verilator-tests/dCache/dCache
verilator-tests/testbench/testbench

vivado/*
=======
.fuse_hidden0000465a000000ff
verilator-tests/testbench/binToHex
verilator-tests/testbench/target_texts
verilator-tests/testbench/objectfiles
verilator-tests/testbench/elffiles
verilator-tests/testbench/dumps
verilator-tests/testbench/programs/build
!vivado/riscv_rob/riscv_rob.srcs/sources_1/bd/design_1/hdl/design_1_wrapper.v
!vivado/riscv_rob/riscv_rob.srcs/sources_1/imports/FYP-18-RISCV-Core/*.v
!vivado/riscv_rob/riscv_rob.srcs/sim_1/tb.v
!verilog_srcs/*.v
verilator-tests/coretest/testbench
verilator-tests/linuxboot/testbench
verilator-tests/linuxboot/.fuse_hidden000076fb00000066
verilator-tests/linuxboot/.fuse_hidden0000782a000000b2
*.out
*.log
vivado*
vitis*
bintoh*
prog.h